
/* this section will style everything on the page, setting default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing being set to border box makes sure the sections do not exceed the width of the page */
    box-sizing: border-box;

}



/* this sets up the styles for everyhting withbin the body element of our html doc */
body {
    /* font-family picks the font for the text within body. Color picks the text color */
    font-family: Helvetica, Arial, sans-serif ;
    color: #39a6b2;

}

header {
    /*padding will provide spacing around the header. background-color will set the color fo the background of the header */
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* this now creates styles for only the h1 element within the header element */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
    /* making this display inline allows the nav element to fit on the same line as the h1 element */

}

/* this creates styles for only the anchor within the header */
header a {
    color: #fce138;
    text-decoration: none;

}

header nav {
    /* here were using the float element to move the nav section over to the right of the page */
    float: right;
    margin: 7px 0;

}

/* this is no only styling the li elements with the ul, within the nav that is within the header */
header nav ul li {
    display: inline;
    /* this makes the li stay on the same line instead of being displayed like a traditional list */
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    /* this is telling the padding to give the top and bottom 40 pixels, while the left and right get 35 */
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;

}

footer div {
    float: right;
    line-height: 1.5;
    /* line height adjust the vertical space of the text line, while text-align moves it to the right, the left being the default */
    text-align: right;

}

footer a {
    color: #024e76;
}

/* this gives a default style to every section in the html */
section {
    padding: 60px;

}

/* need the . before hero because it is a class, not an element */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    /* this centers the image, as well as sets it to cover, which make sure the image shrinks so none of it gets clipped out */
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    /* this makes the border solid, with a width on all sides of 3, and gives it a color all using the shorthand border */
    border: solid 3px #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;

}

/* this is styling the h3 inside the hero-form class */
.hero-form h3 {
    font-size: 24px;
    margin: 0px;

}

.hero-form p {
    margin: 5px 0px 15px 0px;

}

.form-input {
    border: 1px solid #024e76;
    /* setting the display to block means we want each input on a new line regardless of size */
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;

}

.hero-form label {
    margin: 0px 5px;

}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;

}


