
/* this section will style everything on the page, setting default styles */
* {
    margin: 0;
    padding: 0;
    
}



/* this sets up the styles for everyhting withbin the body element of our html doc */
body {
    /* font-family picks the font for the text within body. Color picks the text color */
    font-family: Helvetica, Arial, sans-serif ;
    color: #39a6b2;

}

header {
    /*padding will provide spacing around the header. background-color will set the color fo the background of the header */
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* this now creates styles for only the h1 element within the header element */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
    /* making this display inline allows the nav element to fit on the same line as the h1 element */

}

/* this creates styles for only the anchor within the header */
header a {
    color: #fce138;
    text-decoration: none;

}

header nav {
    /* here were using the float element to move the nav section over to the right of the page */
    float: right;
    margin: 7px 0;

}

/* this is no only styling the li elements with the ul, within the nav that is within the header */
header nav ul li {
    display: inline;
    /* this makes the li stay on the same line instead of being displayed like a traditional list */
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}