
/* this section will style everything on the page, setting default styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing being set to border box makes sure the sections do not exceed the width of the page */
    box-sizing: border-box;

}



/* this sets up the styles for everyhting withbin the body element of our html doc */
body {
    /* font-family picks the font for the text within body. Color picks the text color */
    font-family: Helvetica, Arial, sans-serif ;
    color: #39a6b2;

}

header {
    /*padding will provide spacing around the header. background-color will set the color fo the background of the header */
    padding: 20px 35px;
    background-color: #39a6b2;
    /* adding a flexbox */
    display: flex;
    justify-content: space-between;
    /* this makes the content wrap when shrunken in screen size */
    flex-wrap: wrap;

}

/* this now creates styles for only the h1 element within the header element */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /*display: inline; replacing this with a flexbox*/
    /* making this display inline allows the nav element to fit on the same line as the h1 element */

}

/* this creates styles for only the anchor within the header */
header a {
    color: #fce138;
    text-decoration: none;

}

header nav {
    /* here were using the float element to move the nav section over to the right of the page */
    /*float: right; replacing this with flexbox */
    margin: 7px 0;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align items center will vertically center the content */
    align-items: center;
    list-style: none;

}

/* this is no only styling the li elements with the ul, within the nav that is within the header */
/* header nav ul li {
   /* display: inline; */
    /* this makes the li stay on the same line instead of being displayed like a traditional list */


header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    /* vw stands for viewport width. this is saying that the fonts size should be roughly 1.55% of the window's overall width */
    font-size: 1.55vw;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    /* this is telling the padding to give the top and bottom 40 pixels, while the left and right get 35 */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    
    color: #024e76;
    font-size: 30px;
    margin: 0;

}

footer div {
    
    line-height: 1.5;
    /* line height adjust the vertical space of the text line, while text-align moves it to the right, the left being the default */
    text-align: right;

}

footer a {
    color: #024e76;
}

/* this gives a default style to every section in the html */
section {
    padding: 60px;

}

.section-title {
    font-size: 55px;
    color: #024e76;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;

}

.primary-border {
    border-color: #fce138;

}

.secondary-border {
    border-color: #39a6b2;

}

/* need the . before hero because it is a class, not an element */
.hero {
    background-image: url("../images/hero-image.jpg");
    /* this centers the image, as well as sets it to cover, which make sure the image shrinks so none of it gets clipped out */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;

}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;

}

.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
 
    /* this makes the border solid, with a width on all sides of 3, and gives it a color all using the shorthand border */
    border: solid 3px #024e76;
    width: 40%;
    margin: 3.5%;

}

/* this is styling the h3 inside the hero-form class */
.hero-form h3 {
    font-size: 24px;
    margin: 0px;

}

.hero-form p {
    margin: 5px 0px 15px 0px;

}

.form-input {
    border: 1px solid #024e76;
    /* setting the display to block means we want each input on a new line regardless of size */
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;

}

.hero-form label {
    margin: 0px 5px;

}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;

}


.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;

}

.steps {
    text-align: center;
    background: #fce138;

}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.step h3 {
    color: #024e76;
    font-size: 46px;
    /* this is saying that step h3 should be at least 30% wide */
    flex: 1 30%;

}

.step-info {
    /* this is saying that step info should be at least 70% wide, but receive unused space at a 2-1 ratio */
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
  }

  .step-img img {
    max-width: 100%;
  }

  .step-text {
       /* this is saying that step text should be allotted 12 times more un used space than step-img but step-img must be at least 12% wide as we stated above */
    flex: 12;
  }

.step-text p {
    color: #39a6b2;
    font-size: 18px;

}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
  }


.trainer {
    margin: 20px; 
    /* this causes all the flexbox children to share the space at a 1v1 ratio */
    flex: 1;
    background: #024e76;
    color: #fce138;
    /* the overflow property told the trainer's article element that it does have content inside of it. It provides block formatting because we are floating multiple elements */
   /* overflow: auto; */
   
}

.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.trainer img {
    width: 100%;

}

.trainer-bio {
    padding: 25px;
    line-height: 1.3;

}

/* utility classes start */

.text-left {
    text-align: left;

}

.text-right {
    text-align: right;

}

.flex-row {
    display: flex;
}

/* utility classes end */

.trainer-bio h3 {
    font-size: 28px;

}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;

}

.trainer-bio p {
    font-size: 17px;
    

}

.contact {
    
    background: #024e76;

}

.contact h2 {
    color: #fce138;

}

.contact-info iframe {
    width: 400px;
    height: 400px;

}

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0px 0 60px;
    color: white;

}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;

}

.contact-info p, .contact-info address {
    margin: 20px 0px;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;

}

.contact-info a {
    color: #fce138;
    
}